body {
  background-color: #495058;
  color: #9299a1;
  font-family: "Arial", sans-serif;
  font-size: 10px; }

.popover {
  margin: 30px auto;
  background-color: #000;
  width: 400px;
  border-top: 1px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  border-radius: 5px;
  position: relative; }
  .popover .popover__arrow {
    position: absolute;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #000;
    top: -12px;
    left: 188px; }
  .popover .popover__titlebar {
    display: flex;
    background-color: #16181a;
    font-size: 11px;
    padding: 3.5px 7px;
    line-height: 14px;
    vertical-align: middle;
    height: 21px;
    box-sizing: border-box;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .popover .popover__titlebar .popover__titlebar-controls {
      display: flex;
      margin-left: auto; }
  .popover .popover__breaker {
    display: flex;
    background-color: #16181a;
    padding: 1.5px 7px;
    height: 11px;
    line-height: 11px; }
    .popover .popover__breaker .popover__breaker-text {
      margin-left: 5px; }
  .popover .popover__footer {
    display: flex; }
    .popover .popover__footer button[type=button]:first-child {
      border-bottom-left-radius: 3px; }
    .popover .popover__footer button[type=button]:last-child {
      border-bottom-right-radius: 3px; }

.border-top {
  border-top: 1px solid #000; }

.panels {
  display: flex;
  height: 44px;
  background-color: #202327;
  font-size: 11px;
  line-height: 11px; }
  .panels .panels__text {
    box-sizing: border-box;
    width: 56px;
    border-left: 1px solid #000;
    flex-grow: 1;
    flex-basis: 0;
    padding: 8px 6px; }
    .panels .panels__text label {
      display: block; }
    .panels .panels__text span {
      display: block;
      color: #fff;
      padding-top: 6px; }
      .panels .panels__text span.panels__text--lrg {
        font-size: 13px;
        line-height: 13px; }
    .panels .panels__text.no-border {
      border-left: none; }
  .panels .panels__divider {
    width: 3px;
    background-color: #000; }

.panels__input {
  position: relative;
  padding: 0;
  font-size: 11px;
  width: 132.33px;
  border-left: 1px solid #000; }
  .panels__input.no-border {
    border-left: none; }
    .panels__input.no-border input[type="text"] {
      padding-left: 6px; }
    .panels__input.no-border label {
      left: 7px; }
  .panels__input.panels_input--lrg {
    width: 85px; }
    .panels__input.panels_input--lrg input[type="text"] {
      font-size: 15px;
      line-height: 15px;
      width: 85px;
      padding-top: 21px; }
      .panels__input.panels_input--lrg input[type="text"] + label {
        color: #e2e6e8; }
  .panels__input label {
    position: absolute;
    top: 8px;
    left: 9px; }
  .panels__input input[type="text"] {
    margin: 0;
    position: absolute;
    width: 132.33px;
    height: 44px;
    box-sizing: border-box;
    padding: 19px 7px 4px 9px;
    border-width: 1px;
    border-color: transparent;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    line-height: 11px;
    background-color: transparent;
    color: #fff; }
    .panels__input input[type="text"]:hover {
      border-color: transparent; }
    .panels__input input[type="text"]:focus, .panels__input input[type="text"]:active {
      outline: none;
      background-color: #fff;
      color: #16181a;
      border: 1px solid #0180a0; }
      .panels__input input[type="text"]:focus::-ms-clear, .panels__input input[type="text"]:active::-ms-clear {
        display: none; }
      .panels__input input[type="text"]:focus + label, .panels__input input[type="text"]:active + label {
        position: absolute;
        color: #b2b2b2; }

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; }
  table th, table td {
    background-color: #202327;
    border-left: 1px solid #000;
    border-bottom: 1px solid #131416;
    height: 14px;
    padding: 0; }
  table th {
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    padding-left: 3px;
    padding-right: 5px;
    background-color: #181b1d; }
  table td:after {
    content: ""; }
  table .column-wide {
    width: 69px;
    padding-left: 7px; }
  table .column-right-align {
    text-align: right; }
  table .column-divider {
    border-left: 3px solid #000; }
  table .no-border {
    border-left: none; }

button[type=button] {
  color: #fff;
  border: none;
  font-family: "Arial", sans-serif;
  margin: 0;
  vertical-align: middle;
  text-align: left; }
  button[type=button]:focus {
    outline: none; }
  button[type=button].button--med {
    padding: 0 8px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 2px;
    height: 14px; }
  button[type=button].button--lrg {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;
    height: 21px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700; }
  button[type=button].button--default {
    background-color: #0180a0;
    text-indent: 29px; }
    button[type=button].button--default:hover, button[type=button].button--default:active {
      background-color: #199abd; }
  button[type=button].button--bid {
    background-color: #678400;
    text-indent: 61px; }
    button[type=button].button--bid:hover, button[type=button].button--bid:active {
      background-color: #475c00; }
  button[type=button].button--offer {
    background-color: #ca0000;
    text-indent: 52px; }
    button[type=button].button--offer:hover, button[type=button].button--offer:active {
      background-color: #8e0000; }
  button[type=button].button--cancel {
    background-color: #32373d; }
    button[type=button].button--cancel:hover, button[type=button].button--cancel:active {
      background-color: #3c434c; }
  button[type=button]:disabled {
    color: #5a5f66;
    background-color: #32373d; }

.icon-button {
  width: 8px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: block; }
  .icon-button.icon--cross {
    background-image: url("../img/icon--cross.svg");
    margin-left: 6px; }
    .icon-button.icon--cross:hover, .icon-button.icon--cross:active {
      background-image: url("../img/icon--cross-hover.svg"); }
  .icon-button.icon--minus {
    background-image: url("../img/icon--minus.svg"); }

input.switch:empty {
  margin-left: -9999px; }

input.switch:empty ~ label {
  position: relative;
  float: left;
  margin-top: 19px;
  text-indent: 5px;
  line-height: 10px; }

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: 'YES';
  width: 54px;
  text-indent: 20px;
  font-size: 10px;
  color: #fff;
  background-color: #131416;
  border-radius: 2px; }

input.switch:empty ~ label:after {
  content: ' ';
  width: 10px;
  text-align: center;
  text-indent: 0;
  background-color: #3c434c;
  border-radius: 2px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in; }

input.switch:checked ~ label:before {
  content: 'NO';
  text-indent: 15px; }

input.switch:checked ~ label:after {
  margin-left: 44px; }

/*# sourceMappingURL=main.css.map */
