@import "base";

// Button Colours Mixin
@mixin button-states-mixin($default-color, $hover-color) {
    background-color: $default-color;

    &:hover, &:active {
        background-color: $hover-color;
    }
}

// Button Styles
button[type=button] {
    color: $white;
    border: none;
    font-family: "Arial", sans-serif;
    margin: 0;
    vertical-align: middle;

    &:focus {
        outline: none;
    }

    &.button--med {
        padding: 0 8px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 2px;
        height: 14px;
    }

    &.button--lrg {
        flex-grow: 1;
        flex-basis: 0;
        padding: 0;
        height: 21px;
        font-size: 11px;
        line-height: 11px;
        font-weight: 700;
    }

    &.button--default {
        @include button-states-mixin($blue-11, $blue-12);
    }

    &.button--bid {
        @include button-states-mixin($green-16, $green-15);
    }

    &.button--offer {
        @include button-states-mixin($red-20, $red-19);
    }

    &.button--cancel {
        @include button-states-mixin($grey-06, $grey-07);
    }

    &:disabled {
        color: $grey-08;
        background-color: $grey-06;
    }
}