.icon-button {
    width: 8px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: block;

    &.icon--cross {
        background-image: url('../img/icon--cross.svg');
        margin-left: 6px;

        &:hover, &:active {
            background-image: url('../img/icon--cross-hover.svg');
        }
    }

    &.icon--minus {
        background-image: url('../img/icon--minus.svg');
    }
}