@import "base";

.panels {
    display: flex;
    height: 44px;
    background-color: $grey-d;
    font-size: 11px;
    line-height: 11px;

    .panels__text {
        box-sizing: border-box;
        width: 56px;
        border-left: 1px solid $black;
        flex-grow: 1;
        flex-basis: 0;
        padding: 8px 6px;

        label {
            display: block;
        }

        span {
            display: block;
            color: $white;
            padding-top: 6px;

            &.panels__text--lrg {
                font-size: 13px;
                line-height:13px;
            }
        }

        &.no-border {
            border-left: none;
        }
    }

    .panels__divider {
        width: 3px;
        background-color: $black;
    }
}
