@import "base";

body {
    background-color: $grey-e;
    color: $grey-f;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    font-weight:400;
}

.popover {
    margin: auto;
    margin-top:55px;
    background-color: $black;
    width: 400px;
    border-top: 1px solid $black;
    border-right: 2px solid $black;
    border-bottom: 2px solid $black;
    border-left: 1px solid $black;
    border-radius: 5px;
    position: relative;

    .popover__arrow {
        position: absolute;
        width: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $black;
        top: -12px;
        left: 188px;
    }

    .popover__titlebar {
        display: flex;
        background-color: $grey-b;
        font-size: 11px;
        padding: 4px 7px 3px 7px ;
        line-height: 12px;
        vertical-align: middle;
        height: 21px;
        box-sizing: border-box;
        color: $white;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        .popover__titlebar-controls {
            display: flex;
            margin-left: auto;
        }
    }

    .popover__breaker {
        display: flex;
        background-color: $grey-b;
        padding: 1.5px 7px;
        height: 11px;
        line-height: 11px;

        .popover__breaker-text {
            margin-left: 5px;
        }
    }

    .popover__footer {
        display: flex;

        button[type=button]:first-child {
            border-bottom-left-radius: 3px;
        }

        button[type=button]:last-child {
            border-bottom-right-radius: 3px;
        }
    }
}

.border-top {
    border-top: 1px solid $black;
}
